<div class="sidenav-header">
  <i aria-hidden="true"
     class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
     id="iconSidenav"></i>
  <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
     target="_blank">
    <img alt="main_logo" class="navbar-brand-img h-100" src="../assets/img/logo-ct.png">
    <span class="ms-1 font-weight-bold text-white">Material Dashboard 2</span>
  </a>
</div>
